.request {
  min-height: calc(100vh - 408px);
  padding-top: 20px;
}


.request-form {
  width: 300px;
  padding: 80px 0;
  margin: 0 auto;
}

.request-form .agreement {
  font-size: 13px;
  text-align: center;
  line-height: 1.4;
}

.request-form a,
.request-form a:hover {
  text-decoration: none;
  color: #00cccc;
}

.request-success {
  width: 540px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #000000;
}

.request-success p {
  line-height: 1.4;
  text-align: center;
}

/* Mobile devices (320px — 480px)
---------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  .request {
    min-height: calc(100vh - 630px);
  }
  .request-success {
    width: 90%;
    padding: 10px;
    margin: 20px auto;
  }
}

/* iPads, Tablets (481px — 768px)
---------------------------------------------------------------*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .request {
    min-height: calc(100vh - 668px);
  }
}
