.testimoni {
  background: #ffffff;
  padding: 40px 0;
  text-align: center;
}

.testimoni .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testimoni h1 {
  margin-bottom: 30px;
}

.testimoni .thumbnail {
  width: 75%;
  position: relative;
}

.testimoni .thumbnail img {
  width: 100%;
}

.testimoni .thumbnail .button {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background: #ffffff;
  border-radius: 50%;
  border: 0;
  padding: 6px;
}

.testimoni .thumbnail .button i {
  font-size: 50px;
  color: #00cccc;
}

/* Mobile devices (320px — 480px)
---------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  .testimoni .thumbnail {
    width: 100%;
    position: relative;
  }

  .testimoni .thumbnail .button {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    padding: 6px;
  }

  .testimoni .thumbnail .button i {
    font-size: 25px;
    color: #00cccc;
  }
}

/* iPads, Tablets (481px — 768px)
---------------------------------------------------------------*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .testimoni .thumbnail {
    width: 100%;
    position: relative;
  }

  .testimoni .thumbnail .button {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    padding: 6px;
  }

  .testimoni .thumbnail .button i {
    font-size: 40px;
    color: #00cccc;
  }
}
