.main-nav {
  box-shadow: 0 5px 10px -8px gray;
  height: 60px;
  margin: 0;
  position: sticky;
  top: 0;
  background: #ececec;
  z-index: 10;
}

.main-nav .nav-content {
  position: relative;
  height: 100%;
}

.main-nav .nav-content .brand {
  width: 180px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0%, -50%);
}

.main-nav .nav-content .btn-cart,
.main-nav .nav-content .btn-toggle {
  display: none;
}

.main-nav .nav-content .nav-item-group {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0%, -50%);
}

/* Mobile devices (320px — 480px)
---------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  .main-nav {
    height: 50px;
  }

  .main-nav .nav-content .btn-toggle {
    background: transparent;
    border: 0;
    color: #353535;
    font-size: 24px;
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .main-nav .nav-content .btn-cart {
    background: transparent;
    border: 0;
    color: #353535;
    font-size: 18px;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .main-nav .nav-content .brand {
    width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .main-nav .nav-content {
    justify-content: center;
  }

  .mobile-nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }

  .mobile-nav .backdrop {
    visibility: hidden;
    position: absolute;
    background: rgba(0, 0, 0, 60%);
    left: 0;
    top: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease;
  }

  .mobile-nav .backdrop.active {
    visibility: visible;
    opacity: 1;
  }

  .mobile-nav .content {
    position: relative;
    left: -100%;
    padding: 30px;
    background: #ececec;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease;
  }

  .mobile-nav .content.active {
    left: 0;
  }

  .mobile-nav .content .btn-exit {
    position: absolute;
    top: 20px;
    right: -80px;
    color: #000000;
    background: #ececec;
    border: 0;
    font-size: 32px;
    border-radius: 50%;
    padding: 5px;
  }
}

/* iPads, Tablets (481px — 768px)
---------------------------------------------------------------*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main-nav {
    padding: 5px;
  }

  .main-nav .nav-content .btn-toggle {
    background: transparent;
    border: 0;
    color: #353535;
    font-size: 24px;
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .main-nav .nav-content .btn-cart {
    background: transparent;
    border: 0;
    color: #353535;
    font-size: 24px;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .main-nav .nav-content .brand {
    width: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .main-nav .nav-content {
    justify-content: center;
  }

  .mobile-nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }

  .mobile-nav .backdrop {
    visibility: hidden;
    position: absolute;
    background: rgba(0, 0, 0, 60%);
    left: 0;
    top: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease;
  }

  .mobile-nav .backdrop.active {
    visibility: visible;
    opacity: 1;
  }

  .mobile-nav .content {
    position: relative;
    left: -100%;
    padding: 30px;
    background: #ececec;
    width: 45%;
    height: 100vh;
    transition: all 0.3s ease;
  }

  .mobile-nav .content.active {
    left: 0;
  }

  .mobile-nav .content .btn-exit {
    position: absolute;
    top: 20px;
    right: -80px;
    color: #000000;
    background: #ececec;
    border: 0;
    font-size: 32px;
    border-radius: 50%;
    padding: 5px;
  }
}
