.nav {
  box-shadow: 0 5px 10px -8px gray;
  height: 60px;
  margin: 0;
  position: sticky;
  top: 0;
  background: #ececec;
  z-index: 10;
}

.nav .nav-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.nav .nav-wrapper .btn-brand img {
  width: 160px;
}

.nav .nav-wrapper .btn-brand-mobile img {
  width: 25px;
  display: none;
}

.nav .nav-wrapper .divider {
  width: 30px;
  height: 50%;
  margin-right: 20px;
  border-right: 1px solid #969696;
}

.nav .nav-wrapper .btn-title,
.nav .nav-wrapper .btn-title:hover {
  text-decoration: none;
  color: #000000;
  font-size: 26px;
  font-weight: 700;
}

/* Mobile devices (320px — 480px)
---------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  .nav {
    height: 40px;
  }

  .nav .nav-wrapper .btn-brand img {
    width: 120px;
    margin-right: 5px;
  }

  .nav .nav-wrapper .divider {
    width: 10px;
    height: 40%;
    margin-right: 5px;
    border-right: 1px solid #969696;
  }

  .nav .nav-wrapper .btn-title,
  .nav .nav-wrapper .btn-title:hover {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
  }

  .nav .nav-wrapper .btn-brand img {
    width: 160px;
    display: none;
  }

  .nav .nav-wrapper .btn-brand-mobile img {
    width: 30px;
    display: block;
  }
}
